.case-study__img {
  width: 100%;
}

.case-study__section {
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  max-width: 100vw;
  overflow: hidden;
  background-color: #f5f0e1;
  border-bottom: 1px solid black;
}

.case-study__heading {
  font-size: 2.5em;
  font-family: mencken-std, sans-serif;
  font-weight: 800;
  margin-bottom: 10px;
}

.case-study__link{
    color: black;
    text-decoration: underline;
}


.case-study__text {
  font-family: mencken-std-head, sans-serif;

  font-size: 1em;
  line-height: 1.2em;
  font-style: normal;
  margin-bottom: 10px;
}

.case-study__text-div {
  width: 80%;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1em;
  padding-right: 1em;
}

.case-study__subheading {
  font-family: mencken-std-head, sans-serif;

  font-weight: 200;

  font-style: italic;
  font-size: 1.4em;
  margin-bottom: 10px;
}


#test-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}
#piritahi-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}

#southcity__div{
    background-image: url('../assets/images/5b0214dadcae79013b40a378_Webp.net-compress-image-1.jpg');
}

.case-study__div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1em;
    padding-right: 1em;
    height: 100%;
}

.case-study__imgdiv{
    background-image: url('../assets/images/6088a238f6b62c0e04ae2170_whatwedo.jpeg');
    background-size: cover;
    background-position: center;
}