@media (hover: none) {
    #intro-section div {
        background-attachment: initial;
      }
 }

@media (max-width: 1024px) {
  .dribble-link {
    width: 100%;
  }
  .dribble-button{
    position: absolute;
    width: 2em;
    height: 2em;
    border-radius: 2em;
    z-index: 1;
  }

  .dribble-item {
    justify-content: flex-end;
    align-items: flex-start;
  }

  .dribble-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .dribble-link-button {
    background-color: #ff6e40;
    margin-top: 2.5em;
    z-index: 2;
  }
  .url-link-button {
    background-color: #ffc13b;
    z-index: 2;
  }

}