@media (hover: none) {
    #intro-section div {
        background-attachment: initial;
      }
 }

@media (max-width: 1024px) {
  .dribble-link {
    width: 100%;
  }
  .dribble-button{
    position: absolute;
    width: 3em;
    height: 3em;
    border-radius: 2em;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
      }


  .dribble-item {
    justify-content: flex-end;
    align-items: flex-start;
  }

  .dribble-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .dribble-link-button {
    background-color: #ff6e40;
    margin-top: 4em;
    z-index: 2;
  }
  .url-link-button {
    background-color: #ffc13b;
    z-index: 2;
  }

}

