@media (hover: none) {
}

@media (max-width: 500px) {

  .navbar-link-desktop {
    display: none;
  }

  #social-wrapper-desktop{
    visibility: hidden;
    display: none;
  }
  .dribble-wrapper {
    position: relative;
  }

  .dribble-link {
    width: 100%;
  }
  .dribble-button {
    position: absolute;
    width: 3em;
    height: 3em;
    border-radius: 2em;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    left: 80%;
    top: 10%;
    text-decoration: none;
    font-weight: bold;
  }

  .dribble-item {
    justify-content: center;
    align-items: center;
  }

  .dribble-link {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .dribble-link-button {
    margin-top: 4em;
    background-color: #c73bff;
    z-index: 2;
  }
  .url-link-button {
    background-color: #ff6e40;
    z-index: 2;
  }
}


@media (min-width: 500px) {

  #southcity-case-study,
  #piritahi-case-study{
    display: none;
  }

  #logo {
    font-size: 2em;
  }

  #hero-text {
    font-size: 3em;
  }
  #about-text-wrapper p {
    font-size: 1.8em;
    line-height: 1em;
    margin-bottom: 1em;
  }

  #bottom-nav {
    position: static;
  }
  #nav-wrapper {
    display: none;
  }

  #desktop-nav-wrapper {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-link-desktop {
    color: inherit;
  }

  .navbar {
    justify-content: space-around;
    flex-direction: row;
  }
  #about-content-wrapper {
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
  }
  #portrait {
    width: 20%;
  }
  #about-text-wrapper {
    width: 50%;
  }
  .navbar-link {
    border: none;
  }

  #footer-section {
    flex-direction: row;
    justify-content: space-around;
  }

  #bottom-nav {
    background-image: url("../assets/images/footer.png");
    background-size: contain;
    height: 50vh;
  }

  #social-wrapper {
    visibility: hidden;
  }

  #contact-form-wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 60%;
  }

  #form {
    align-items: flex-start;
    height: 80%;
  }

  .input-wrapper {
    align-items: flex-start;
  }

  #social-wrapper-desktop {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    height: 40%;
    border-right: solid white 2px;
    padding-right: 1em;
  }

  #social-wrapper-desktop h4 {
    padding-bottom: 10px;
    padding-right: 0;
    padding-left: 1px;
    margin: 0;
  }

  .navbar-link {
    padding: 0;
  }

  #hero-text-wrapper {
    height: auto;
    justify-content: space-around;
  }

  .navbar-link-desktop {
    font-size: 1.4em;
  }

  .case-study__section{
    /* flex-direction: row !important; */
    min-height: 120vh;
    justify-content: space-between !important;
    
  }

  .case-study__img{
    max-width: 70%;
  }

  #southcity-case-study{
    /* flex-direction: row-reverse !important; */
  }

  .case-study__text-div{
    justify-content: space-evenly;
    height: 50%;
    max-width: 70%;
  }

  .case-study__text{
    font-size: 2em;
  }

  .case-study__subheading {
    font-size: 2.3em;
    font-weight: 700;
  }

  .case-study__heading{
    font-size: 3.5em;
  }
}


@media(min-width: 1200px) {
  .case-study__text-div{
    height: 50%;
    max-width: 40%;
  }
}

a {
  cursor: pointer;
}