#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
    color: white;
    background-color: rgb(31, 31, 121);
}

#link-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
}